footer {
    width: 100%;
    height: 200px;
    background-color: #28325B;
    color: #fff;
}

body {
    padding-top: 90px;
}

footer p {
    padding-top: 90px;
}

.price {
    background-color: #31C763;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

.jumbotron {
    background: url(../img/back.jpg) no-repeat;
}