footer {
    width: 100%;
    height: 200px;
    background-color: #28325B;
    color: #fff;
}

body {
    padding-top: 90px;
}

footer p {
    padding-top: 90px;
}

.price {
    background-color: #31C763;
    color: #fff;
    padding: 4px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}

.jumbotron {
    background: url(../img/back.jpg) 100% 55% no-repeat;
    background-size: cover;
}

.jumbotron header h1 {
    color: #fff;
}

.glyphicon-star {
    color: #FEBE5D;
}

#login-area {
    width: 50%;
}